@font-face {
    font-family: 'mclaren';
    src: url(./fonts/Moki-Mono.otf);
}

@font-face {
    font-family: 'REM';
    src: url(./fonts/REM-VariableFont_wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    /*background-color: #FF8000;*/
    background-color: white;
    display: flex;
    justify-content: center;
}

.logo{
    width: 14%;
    position: fixed;
    left: 86%;
    z-index: 1;
}

.fondo{
    position: fixed;
    width: 14%;
    height: 74px;
    margin-left: 86%;
    border-radius: 20px;
}

header ul{
    display: flex;
    width: 80%;
    justify-content:space-around ;
    align-items: center;
}

header ul li{
    font-family: 'REM';
    list-style: none;
}

main{
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("./img/mclaren.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-weight: 100;
    font-size: 40px;
    color: white;
    font-family: 'mclaren';
}

